@model Raje.Models.Serie

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Deletar Série";
    <p>&nbsp;</p>
    <center><h3>Deletar Série @Model.Titulo</h3> </center>
}

@if (!SignInManager.IsSignedIn(User))
{
    <script>window.location.href = '/Identity/Account/Login';</script>
}

<form method="post">
    <input asp-for="Id" hidden />
    <br />
    <br />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Excluir Série</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Titulo"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Titulo" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Diretor"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Diretor" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Elenco"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Elenco" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Pais"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Pais" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Ano"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Ano" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="NumeroTemporadas">Número de Temporadas</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="NumeroTemporadas" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Sinopse"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Sinopse" disabled class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-2 row">
                    <table style="width: 40vh">
                        <tr>
                            <th>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-danger w-100">Excluir</button>
                                </div>
                            </th>
                            <th>&nbsp;</th>
                            <th>
                                <div class="form-group">
                                    <a href="javascript:history.back()" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Voltar</a>
                                </div>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250,
                disable: true
            });
        });

    </script>
}