@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Raje.Utility

@if (!SignInManager.IsSignedIn(User))
{
    <script>window.location.href = '/Identity/Account/Login';</script>
}

@model IEnumerable<Raje.Models.ApplicationUser>

@{
    ViewData["Title"] = "Membros";
}

<div class="container">
    <div class="text-center">
        <p>&nbsp;</p>
        <form enctype="multipart/form-data" asp-controller="ApplicationUser" asp-action="Index" method="post">
            <table>
                <tr>
                    <th>
                        <div class="form-group">
                            <input style="width: 20vh" type="text" id="nome" name="nome" placeholder="Pesquisar" class="form-control" />
                        </div>
                    </th>
                    <th>&nbsp;</th>
                    <th>
                        <div class="form-group">
                            <button style="width: 12vh" id="Pesquisar" class="btn btn-primary">Pesquisar</button>
                        </div>
                    </th>
                </tr>
            </table>
        </form>
        <p></p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Nome
                    </th>
                    <th>
                        Cidade
                    </th>
                    <th>
                        Estado
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr onclick="window.location.href = '/ApplicationUser/Details/@item.Id'">
                        <td>
                            <img src="~/images/@item.ImagemURL" alt="@item.ImagemURL" style="width: 70px; height: 80px" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>