@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Raje.Utility

@if (!SignInManager.IsSignedIn(User))
{
    <script>window.location.href = '/Identity/Account/Login';</script>
}

@model IEnumerable<Raje.Models.ApplicationUser>

@{
    ViewData["Title"] = "Solicitações de Amizade";
}

<div class="container">
    <div class="text-center">
        <p>&nbsp;</p>
        <form enctype="multipart/form-data" asp-controller="ApplicationUser" asp-action="Amigos" method="post">
            <table>
                <tr>
                    <th>
                        <div class="form-group">
                            <input style="width: 20vh" type="text" id="nome" name="nome" placeholder="Pesquisar" class="form-control" />
                        </div>
                    </th>
                    <th>&nbsp;</th>
                    <th>
                        <div class="form-group">
                            <button style="width: 13vh" id="Pesquisar" class="btn btn-primary">Pesquisar</button>
                        </div>
                    </th>
                </tr>
            </table>
        </form>
        <p></p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Nome
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr onclick="window.location.href = '/ApplicationUser/Details/@item.Id'">
                        <td>
                            <img src="~/images/@item.ImagemURL" alt="@item.ImagemURL" style="width: 70px; height: 80px" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            <form enctype="multipart/form-data" asp-controller="ApplicationUser" asp-action="AceitarAmigo" method="post">
                                <input asp-for="@item.Id" id="Id" name="Id" class="form-control" hidden />
                                <button id="AceitarAmigo" onclick="aceitar()" class="btn btn-primary">Aceitar</button>
                            </form>
                        </td>
                        <td>
                            <form enctype="multipart/form-data" asp-controller="ApplicationUser" asp-action="RecusarAmigo" method="post">
                                <input asp-for="@item.Id" id="Id" name="Id" class="form-control" hidden />
                                <button id="RecusarAmigo" onclick="recusar()" class="btn btn-danger">Recusar</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function aceitar() {
        alert("Pedido de amizade aceito com sucesso.");
        form.submit();
    }

    function recusar() {
        alert("Pedico de amizade Recusado!");
        form.submit();
    }
</script>