@{
    <br>
    ViewData["Title"] = "Política de Privacidade"; }
<h1>@ViewData["Title"]</h1>
<br>
<p align="justify">
    Por favor, leia esta Política de Privacidade e Proteção de Dados (“<strong>Política</strong>”) cuidadosamente para entender nossas práticas de tratamento dos seus Dados Pessoais. Esta Política
    se aplica a indivíduos que interagem com serviços do Grupo Nestlé, como os nossos consumidores (“<strong>Você</strong>”). Esta Política explica como seus Dados Pessoais são coletados, usados
    e compartilhados. Ela também informa como você pode acessar e atualizar
    seus Dados Pessoais, e exercer os seus direitos relativos a eles.
</p>
<p align="justify">
    Esta Política abrange nossas atividades de coleta de dados&nbsp;online&nbsp;e&nbsp;offline, abrangendo os Dados Pessoais que Nós coletamos por meio de nossos vários canais, incluindo&nbsp;websites, aplicativos, redes sociais
    de terceiros, Serviço de Atendimento ao Consumidor, pontos de venda e eventos. Por favor, note que Nós poderemos agregar Dados Pessoais de diferentes fontes (website, evento&nbsp;offline). Para isso, Nós fazemos o cruzamento
    dos Dados Pessoais que foram originalmente coletados por diferentes entidades Nestlé ou parceiros Nestlé.
</p>
<p align="justify">
    Se você não nos fornecer os Dados Pessoais necessários (Nós indicaremos quando for o caso, por exemplo, esclarecendo essa informação em nossos formulários de registro), Nós talvez não
    possamos fornecer a você nossos produtos e/ou serviços.
</p>
<p align="justify">
    Esta Política pode ser alterada periodicamente, conforme informado ao final do documento.
</p><p style="text-align: justify;">
    Esta Política fornece importantes informações sobre como Tratamos os seus Dados Pessoais, tais quais:
</p>
<ul style="margin-left:60px;"><li>O QUE VOCÊ PRECISA SABER ANTES DE LER ESSE AVISO</li><li>FONTES DE DADOS PESSOAIS</li><li>DADOS PESSOAIS QUE COLETAMOS A SEU RESPEITO E COMO NÓS OS COLETAMOS</li><li>COMO UTILIZAMOS OS SEUS DADOS PESSOAIS?</li><li>COOKIES/TECNOLOGIAS SIMILARES, ARQUIVOS DE LOG E&nbsp;WEB&nbsp;BEACONS</li><li>COM QUEM COMPARTILHAMOS OS SEUS DADOS PESSOAIS</li><li>ARMAZENAMENTO DE DADOS PESSOAIS</li><li>SEUS DIREITOS</li><li>COMO MANTEMOS SEUS DADOS PESSOAIS SEGUROS</li><li>SUAS ESCOLHAS SOBRE COMO NÓS USAMOS E DIVULGAMOS SEUS DADOS PESSOAIS</li><li>ALTERAÇÕES DA NOSSA POLÍTICA</li><li>CONTATO</li></ul>
<br>
<strong>O QUE VOCÊ PRECISA SABER ANTES DE LER ESSE AVISO?</strong>
<br>
<p style="text-align: justify;">
    <strong>Dados Pessoais</strong> são todas as informações que permitem a sua identificação. Como por exemplo, seu nome, CPF, e-mail, telefone, entre outros.
</p>
<p style="text-align: justify;">
    <strong>Dados Pessoais Sensíveis</strong> são dados pessoais relacionados à origem racial ou étnica, convicção religiosa, opinião política, filiação a sindicato ou a organização
    de caráter religioso, filosófico ou político, dado referente à saúde ou à vida sexual, dado genético ou biométrico, quando vinculados a Você.
</p>
<p style="text-align: justify;">
    <strong>Tratamento de Dados Pessoais</strong> significa qualquer operação, como a coleta, produção, recepção, classificação, utilização, acesso, reprodução,
    transmissão, distribuição, processamento, arquivamento, armazenamento, eliminação, avaliação ou controle da informação, modificação, comunicação,
    transferência, difusão ou extração, realizada com dados pessoais.
</p>
<br>