@page
@model IndexModel
@{
    ViewData["Title"] = "Perfil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@using Microsoft.AspNetCore.Identity


@if (!SignInManager.IsSignedIn(User))
{
    <script>window.location.href = '/Identity/Account/Login';</script>
}

<p></p>
<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form enctype="multipart/form-data" asp-controller="ApplicationUser" asp-action="Upsert" id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Input.Id" id="Id" name="Id" class="form-control" hidden />
            </div>
            <div class="form-group">
                <label asp-for="Username">UserName</label>
                <input asp-for="Username" id="Username" name="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <input asp-for="Input.Email" class="form-control" id="Email" name="Email" hidden />
            </div>
            <div class="form-group">
                <label asp-for="Input.FullName">Nome Completo</label>
                <input asp-for="Input.FullName" id="FullName" name="FullName" class="form-control" />
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber">Número de Telefone</label>
                <input asp-for="Input.PhoneNumber" type="tel" id="PhoneNumber" name="PhoneNumber" class="form-control" maxlength="15" pattern="\(\d{2}\)\s*\d{5}-\d{4}" placeholder="(00) 00000-0000">
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Birthdate"></label>
                <input asp-for="Input.Birthdate" type="date" class="form-control" id="Birthdate" name="Birthdate" min="1940-01-01" max="2020-01-01" />
                <span asp-validation-for="Input.Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.City"></label>
                <input asp-for="Input.City" id="City" name="City" class="form-control" />
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.State"></label>
                <input asp-for="Input.State" id="State" name="State" maxlength="2" placeholder="UF" class="form-control" />
                <span asp-validation-for="Input.State" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Input.ImagemURL" id="ImagemURL" name="ImagemURL" class="form-control" hidden />
            </div>

            <div class="form-group">
                <label asp-for="Input.ImagemUpload" class="control-label"></label>

                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="ImagemUpload" name="ImagemUpload" asp-for="Input.ImagemUpload">
                    <label data-browse="Procurar" style="width: 50vh" class="custom-file-label" for="ImagemUpload"></label>
                    <label style="display: none" id="img_nome"></label>
                </div>

                <span asp-validation-for="Input.ImagemUpload" class="text-danger"></span>
            </div>

            <button id="update-profile-button" type="submit" class="btn btn-primary">Salvar</button>
            <p></p>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $("#ImagemUpload").change(function () {
            $("#img_nome").text(this.files[0].name);
            $("#img_nome")[0].style.display = 'block';
        });

        $("#ImagemUpload").attr("data-val", "true");

        const PhoneNumber = document.getElementById('PhoneNumber') // Seletor do campo de telefone

        PhoneNumber.addEventListener('keypress', (e) => mascaraTelefone(e.target.value)) // Dispara quando digitado no campo
        PhoneNumber.addEventListener('change', (e) => mascaraTelefone(e.target.value)) // Dispara quando autocompletado o campo

        const mascaraTelefone = (valor) => {
            valor = valor.replace(/\D/g, "")
            valor = valor.replace(/^(\d{2})(\d)/g, "($1) $2")
            valor = valor.replace(/(\d)(\d{4})$/, "$1-$2")
            PhoneNumber.value = valor // Insere o(s) valor(es) no campo
        }

        $("#State").on("input", function () {
            var regexp = /[^a-zA-Z]/g;
            if (this.value.match(regexp)) {
                $(this).val(this.value.replace(regexp, ''));
            }
        });
    </script>
}