@page
@model ConfirmEmailChangeModel
@{ ViewData["Title"] = "Alteração de e-mail confirmada!"; }
<br />
<br />
<center><h1>@ViewData["Title"]</h1></center>
<partial name="_StatusMessage" model="Model.StatusMessage" />