@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Raje.Utility

@if (!SignInManager.IsSignedIn(User))
{
    <script>window.location.href = '/Identity/Account/Login';</script>
}

@model Raje.ViewModel.LivroViewModel

<br />
@if (Model.Titulo != null)
{
    ViewData["Title"] = "Editar Livro";
    <h4>Editar Livro</h4>
}
else
{
    ViewData["Title"] = "Adicionar Livro";
    <h4>Adicionar Livro</h4>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Upsert">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.Titulo != null)
            {
                <div class="form-group">
                    <label asp-for="Ativo" class="control-label">Ativo:</label>
                    <input asp-for="Ativo" class="form-control" />
                    <span asp-validation-for="Ativo" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Titulo" class="control-label">Título:</label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Autores" class="control-label">Autor(es):</label>
                <input asp-for="Autores" class="form-control" />
                <span asp-validation-for="Autores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pais" class="control-label">País:</label>
                <input asp-for="Pais" class="form-control" />
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ano" class="control-label">Ano:</label>
                <input asp-for="Ano" class="form-control" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sinopse" class="control-label">Sinopse:</label>
                <input asp-for="Sinopse" class="form-control" />
                <span asp-validation-for="Sinopse" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="ImagemURL" class="form-control" hidden />
            </div>

            <div class="form-group">
                <label asp-for="ImagemUpload" class="control-label"></label>

                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="ImagemUpload" asp-for="ImagemUpload">
                    <label data-browse="Procurar" style="width: 400px" class="custom-file-label" for="ImagemUpload"></label>
                    <label style="display: none" id="img_nome"></label>
                </div>

                <span asp-validation-for="ImagemUpload" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                @if (Model.Titulo != null)
                {
                    //update
                    <input type="submit" value="Atualizar" onclick="atualizar()" class="btn btn-success" />
                }
                else
                {
                    //create
                    <input type="submit" value="Adicionar" onclick="cadastrar()" class="btn btn-success" />
                }
                <a asp-action="Index" class="btn btn-danger">Voltar</a>
            </div>
            <br />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    $("#ImagemUpload").change(function () {
    $("#img_nome").text(this.files[0].name);
    $("#img_nome")[0].style.display = 'block';
    });

    //$("#ImagemUpload").attr("data-val", "true");
    //$("#ImagemUpload").attr("data-val-required", "Preencha o campo Imagem");

    function cadastrar() {
        alert("Cadastro realizado com sucesso!\nPendente Aprovação do Administrador.");
    }

    function atualizar() {
        alert("Livro atualizado com sucesso!");
    }
    </script>
}